@use "colors" as c;

.game {
  background: c.$game-color;
  display: grid;
  grid-template-areas:
    "..... begin ....."
    "left middle right"
    "rock paper scissors";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 2rem 5rem 2rem 5rem;
}
//sets grid areas
.game > h1 {
    text-align: center;
}

.game__begin {
    grid-area: begin;
}

.game__score {
    grid-area: left;
}

.computer__choice {
    grid-area: middle;
}

.game__dialogue {
    grid-area: right;
}

.rock {
    grid-area: rock;
}

.paper {
    grid-area: paper;
}

.scissors {
    grid-area: scissors;
}

//

