@use 'reset';
@use 'composition/game-layout';
@use "blocks/images";
@use "blocks/button";
@use "blocks/game__cards";
@use "blocks/input";
@use "utilities/typewriter";

body {
  font-family: "Chivo Mono", monospace;
  font-size: 3rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}


